*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}

body{
    width: 100%;
    min-height: 100vh;
}
header{
    width: 100%;
    height: 100vh;
    background: url('/img/image.jpg');
    position: relative;
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    padding-top: 21px;
    
}

.container{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 65px;
    padding: 0 28px;
    border: 1px solid rgb(255, 255, 255);;
    border-radius: 20px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.nav-list li{
    display: inline;
    margin-right:22px;
    font-size: 15px;
    font-weight: 600

}
.nav-list {
    display: none;
}
.menu-icon{
    font-size: 24px;
    font-weight: 750;
}

.logo{
    font-size: 24px ;
}