*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}

body{
    width: 100%;
    min-height: 100vh;
}
header{
    width: 100%;
    height: 100vh;
    background: url('/img/image.png');
    position: relative;
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    padding-top: 21px;
    
}

.container{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 65px;
    padding: 0 28px;
    border: 1px solid rgb(255, 255, 255);;
    border-radius: 20px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.nav-list li{
    display: inline;
    margin-right:22px;
    font-size: 15px;
    font-weight: 600

}
.nav-list {
    display: none;
}
.menu-icon{
    font-size: 24px;
    font-weight: 750;
}

.logo{
    font-size: 24px ;
}

.hero-section .content_wrapper{
    position: absolute;
    width: 100%;
    top: 28%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255); 
    padding: 0 20px;
    margin: 0 auto;
    
    


    
}

.content_wrapper h1{
    font-size: 24px;
    font-weight: 700;
}


form{
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right,rgb(102, 102, 144),rgb(0, 162, 255),rgb(98, 98, 196));
    width: 100%; 
    flex-wrap: wrap;
    display: flex;
    gap: 20px;  
    align-items: center;
    justify-content: left ; 
    padding: 30px;
}

.search-item{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.search-item div{
    color:   rgb(255, 255, 255);
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.search-item input{
    height: 25px;
    width: 100%;
    padding: 0 20px;
    border-radius: 20px;
    border: none;
    outline: 0;;
    color: rgb(92, 89, 84);
}

.Search_btn{
    height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    border: none;
    outline: 0;
    background-color: rgb(0, 157, 255);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: -4px;
    cursor: pointer;
}


.services{
    padding: 80px 0;
    background: rgb(255, 255, 255);
}
.services h5{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;

}

.services h1{
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
}

.services .row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    gap: 120px;
    padding-left: -0px; 

}

.services .row .col{
    background: linear-gradient(to top,rgb(101, 158, 177),rgb(32, 216, 99));
    padding: 40px;
    text-align: center;
    margin: 30px 10px;    

}

.services .row .col h2{
    margin: 20px;
    font-size: 24px;
    font-weight: 700;



}

.destination{
    background-color: rgb(124, 197, 249);
    

}
 

.destination-card{
    background-color: rgb(255, 255, 255);
    margin: 30px 10px;
    padding-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 300px;
    width: 300px; 
    margin-bottom: 100px;
    

}

.destination-card img{
    height: 300px;
    width: 400px; 
    border-radius: 20px;
}